.container{
    justify-content: center;
    text-align: center;
    background-color: aqua;
    border:  3px solid black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;

}
.eror{
   color: brown;
}
.btnstyl{
    background-color: chartreuse;
    margin-bottom: 3%;
}